.wrap-team {
  display: flex;
  background-color: #770000;
}
a {
  text-decoration: none;
}
.logo {
  display: block;
  font-size: 1rem;

  transform: rotate(-90deg);
  color: #fff;
  transition: all 0.2s ease;

  &:hover {
    transform: rotate(0deg);
  }
}
.team-desc {
  // margin: auto 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  margin: 20px 0;
  .back-btn {
    height: 30px;
    width: 50px;
    font-size: 30px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: darkorange;
    background: transparent;
    border: 2px solid darkorange;
    border-radius: 5px;
    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }
  h3 {
    color: darkorange;

    letter-spacing: 0.1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424,
      0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c,
      0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414,
      0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 4.5rem;
  }
}
.team-list {
  flex: 1 0 auto;
}
.left {
  margin-left: auto;
}
.right {
  margin-right: auto;
}
.row {
  display: flex;
  gap: 1rem;
  padding: 10px;
  height: 27vh;
  margin: 1rem;
  border: 6px solid orange;
  border-radius: 20px;
  p {
    flex-grow: 1;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 2rem;
    font-weight: bold;
    color: orange;
    span {
      font-size: 6rem;
    }
  }

  .row-item {
    aspect-ratio: 2/3;

    border-radius: 12px;
    background-position: center;
    background-size: cover;
  }
}

.item-container {
  .green {
    color: green;
  }
  .white {
    color: white;
  }
  .pink {
    color: deeppink;
  }
  position: relative;

  & > .front {
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    transition: transform 0.5s linear 0s;

    .item-name {
      margin-top: 6px;
    }
  }

  & > .back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    background: rgb(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.5s linear 0s;

    p {
      font-size: 1.5rem;
      font-weight: normal;
      color: white;
      margin: 5px;
      text-align: left;

      a {
        color: white;
        transition: all 0.3s ease-in-out;
      }
      a:hover {
        background-color: darkorange;
        transform: rotate(-10deg);
        font-size: 1.6rem;
      }
    }
  }

  &:hover .front {
    transform: perspective(600px) rotateY(-180deg);
    cursor: pointer;
  }

  &:hover .back {
    transform: perspective(600px) rotateY(0deg);
    cursor: pointer;
  }
}

@media (max-width: 1280px) {
  .team-desc h3 {
    font-size: 3rem;
  }
}

@media (max-width: 992px) {
  .wrap-team {
    width: 992px;
  }
  .row p span {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .wrap-team {
    width: 768px;
  }
  .row p span {
    font-size: 3rem;
  }
  .row-item:nth-child(2) {
    display: none;
  }
}

@media (max-width: 576px) {
  .wrap-team {
    width: 576px;
  }
  .row {
    justify-content: space-around;
  }
  .row p span {
    font-size: 2rem;
  }
  .row p.right,
  .row p.left {
    display: none;
  }
}
