@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

$main-red: #970d14;
$highlights: #fbff12;
$text-color: #fff;

@mixin cardsSize{
  height: 240px;
  width: 160px;
  border-radius: 5px;
  @media(max-width: 992px){
    height: 220px;
    width: 140px;
  }
    @media(max-width: 768px) and (orientation: portrait){
    height: 200px;
    width: 135px;
  }
}
@mixin playersCards{
  width: 180px;
  margin: 5px;
  //   @media(max-width: 768px){
  //   height: 2-0px;
  //   width: 120px;
  // }
}
@mixin Player{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 80px;
  width: 195px;
  background-color: #fff;
  border-radius: 45px 10px 10px 45px;
  border: 3px solid $main-red;

  @media (max-width: 1280px){
    width: 155px;
    p{
      font-size: 13px;
      overflow-wrap: anywhere;
    }
  }
  @media (max-width: 768px) {
      width: 80px;
      height: 120px;
      border-radius: 45px 45px 10px 10px;
      flex-direction: column-reverse;
      p{
        line-height: 1.2;
      }
  }
}
@mixin ActivePlayer{
  border: 3px solid $highlights;
  box-shadow: 0 0 20px $highlights;
  background-color: $highlights;
  height: 80px;
  width: 195px;
  border-radius: 45px 11px 11px 45px;
  .player{
    border: none;
  }
  @media (max-width: 1280px){
    width: 155px;
  }
    @media (max-width: 768px) {
      width: 80px;
      height: 120px;
      border-radius: 45px 45px 10px 10px;
      flex-direction: column-reverse;
      p{
        line-height: 1.2;
      }
  }
}
body {
  font-family: 'Gloria Hallelujah', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 1280px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: $main-red;
}
button{
  cursor: pointer;
  font-family: 'Gloria Hallelujah', cursive;
}

.desk{
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  // min-height: 660px;
  height: 100vh;
  // max-height: 920px;
  background-image: url(../assets/desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  // overflow-x: hidden;
}
.other-players,
.main-player{
  display: flex;
  justify-content: space-between;
  // min-height: 100px;
  flex-shrink: 0;
  margin: 0 0 20px 0;
}
.game{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  min-height: 240px;
  max-height: 300px;
  width: 1160px;

  .game-info{
    height: 120px;
    width: 180px;
    .game-info-cat{
      img{
        display: inline-block;
        height: 160px;
        width: 160px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
    .game-info-messages{
      background-color: $text-color;
      height: 100px;
      width: 120px;
      border-radius: 20px;
      position: relative;
      text-align: center;
      line-height: 1.2;
      font-size: 15px;
      padding: 5px;
    }
    .game-info-messages:before{
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 10px;
      top: -25px;
      border: 15px solid;
      border-color: transparent $text-color $text-color transparent;
    }
    .game-info-timer{
      background-color: $text-color;
      border-radius: 10px;
      width: 30px;
      padding: 5px;
      box-sizing: border-box;
    }
  }

  .deck,
  .play-cards,
  .rebound-deck{
    flex-shrink: 0;
    box-sizing: border-box;
    cursor: pointer;
    img{
      @include cardsSize;
      border-radius: 5px;
    }
  }
  .deck{
    position: relative;
    margin: 0 5px;
    .return-to-deck{
      display: none;
    }
    .return-to-deck-active{
      position: absolute;
      @include cardsSize;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      top: 0;
    }
    .deck-left{
      border: 1px solid $text-color;
      border-radius: 5px;
      color: $text-color;
      background-color: $main-red;
      text-align: center;
    }
  }
  .play-cards{
    flex-grow: 1;
    position: relative;
    z-index: 1;
    // overflow: hidden;
    img{
      margin: 0 2px;
    }
  }
  .play-cards-place{
    @include cardsSize;
    border: 1px dashed $text-color;
    flex: 1;
  }
  .rebound-deck{
    position: absolute;
    right: 0;
    box-sizing: border-box;
    width: 223px;
    height: 240px;
    transform: rotate(135deg) translate(-30%, -40%);
    transition: all 0.5s ease-in-out;
    .rebound-deck-controls{
      display: none;
    }
    &-active{
      position: absolute;
      right: 0;
      width: 230px;
      height: 240px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img{
        @include cardsSize;
      }
      transform: rotate(-0deg) translate(0, 0);
      transition: all 0.5s ease-in-out;
      .rebound-deck-controls{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        height: 40px;
        width: 32px;
        font-size: 30px;
        color: $highlights;
        border: 1px solid $highlights;
        border-radius: 5px;
        background: transparent;
      }
      .rebound-deck-container{
        position: relative;
        overflow: hidden;
        display: flex;
        width: 160px;
        height: 240px;
      }
      .rebound-deck-row{
        position: absolute;
        height: 240px;
        display: flex;
        transition: all 0.5s ease;
      }
    }
  }
}

.player{
  @include Player;

  img{
    background-color: green;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: inline-block;
    margin: 0 5px 0 0;
  }
  .bots-animated-cards{
    display: flex;
    // opacity: 0;
    // width: 0;
    // height: 0;
    animation: 2s botTakeCard ease;
  }
}
.activePlayer{
  @include ActivePlayer;
}
.exploded{
  background-color: #7c7c7c;
  border: 2px solid rgb(44, 44, 44);
}

.main-player{
  height: 185px;
  width: 1260px;
  margin: 70px 0 0 0;
  .main-player-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-shrink: 0;
    .control-buttons{
        margin: 5px 0 0 0;
        display: flex;
        flex-direction: column;
        .combo-visible{
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 1;
          button{
            margin: 2px;
            width: 50px;
            height: 60px;
            // background-color: transparent;
            // color: $highlights;
            border: 1px solid black;
            border-radius: 5px;
            transition: all 0.5s ease;
            &:hover{
              border: 1px solid $highlights;
              background-color: rgba(255, 255, 255, 0.5);
            }
          }
        }
        .combo-hidden{
          opacity: 0;
        }
    }
  }
  .slider-controls{
    height: 50px;
    width: 30px;
    line-height: 0;
    font-size: 30px;
    background: transparent;
    color: $highlights;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    border-radius: 5px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
  }
  .slider-controls:hover{
    opacity: 1;
    border: 2px solid $highlights;
  }
  .main-player-cards{
    width: 950px;
    overflow-x: clip;
    position: relative;

    .main-player-cards-row{
      position: absolute;
      display: flex;
      flex-direction: row-reverse;
      transition: all 0.5s ease 0s;
      img{
        @include playersCards;
        border-radius: 5px;
        transition: all 0.5s ease-in-out 0s;
        border: none;
        outline: none;
        box-sizing: border-box;
        cursor: pointer;
      }
      .scaleCard:hover{
        transform: translateY(-120px);
        border: 2px solid $highlights;
        box-shadow: 0 0 10px $highlights;
      }
      .comboActive{
        transform: translateY(-80px);
        border: 2px solid $highlights;
      }
    }
  }
}
.activePlayer{
  border: 2px solid $highlights;
  box-shadow: 0 0 10px $highlights;
}
.exploded{
  background-color: #7c7c7c;
  border: 3px solid rgb(58, 58, 58);
}
.take-card-modal-active{
  display: block;
  position: absolute;
  top: 50px;
  left: 240px;
  width: 800px;
  min-height: 450px;
  background-color: $main-red;
  color: $text-color;
  border-radius: 30px;
  text-align: center;
  .players{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 700px;
    margin: 0 auto;
    button{
      height: 50px;
      width: 90px;
      margin: 10px;
      background-color: transparent;
      border: 2px solid $highlights;
      border-radius: 10px;
      transition: background-color .5s ease;
    }
    button:hover{
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
  .players-cards-active{
    margin: 0 auto;
    width: 720px;
    display: flex;
    flex-wrap: wrap;
    img{
      width: 80px;
      margin: 5px;
    }
  }
  .players-cards{
    display: none;
  }
}
.take-card-modal{
  display: none;
}
.modal-bg-active{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.modal-bg{
  background-color: transparent;
}
.animated-card{
  animation: 2s takeCard ease;
  position: relative;
  display: flex;
}
.animated-move{
  animation: 2s makeMove ease;
}

@keyframes takeCard{
  from{
    transform: translate(0, -350px);
  }
  to{
    transform: translate(0, 0);
  }
}
@keyframes makeMove{
  from{
    opacity: 0;
  }
  50%{
    transform: scale(1.2);
    opacity: 1;
  }
  to{
    transform: scale(1);
  }
}
@keyframes botTakeCard{
  from{
    transform: translateY(-250px);
    // opacity: 1;
  }
  to{
    transform: translateY(0);
    // opacity: 0;
  }
}

@keyframes explosion{
  0%{
    background: transparent;
  }
  10%{
    background: $highlights;
  }
  20%{
    background: orangered;
  }
  30%{
    background: orange;
  }
  40%{
    background: red;
  }
  50%{
    background: orange;
  }
  60%{
    background: orangered;
  }
  70%{
    background: $highlights;
  }
  80%{
    background: red;
  }
  90%{
    background: $main-red;
  }
  100%{
    background: url(../assets/bg.jpg);
    background-size: contain;
  }
}
.end-game-bg-active{
  animation: 1s explosion ease;
  background: url(../assets/bg.jpg) $main-red no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  .end-game{
    box-sizing: border-box;
    height: 400px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid $text-color;
    position: absolute;
    top: 60px;
    left: 390px;
    background-color: $main-red;
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px 50px;
    font-size: 32px;
    h2{
      line-height: 1.2;
      text-align: center;
      font-size: 40px;
    }
    .end-game-buttons{
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      button{
        height: 50px;
        width: 300px;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid $main-red;
        transition: all 1s ease;
        font-size: 20px;
        &:hover{
          background-color: transparent;
          border: 1px solid $text-color;
          color: $text-color;
        }
      }
    }
  }
}
.end-game-bg{
  display: none;
}

@media (max-width: 1280px) {
  .main-player{
    height: 185px;
    width: 990px;
    .main-player-container{
      width: 160px;
      flex-shrink: 0;
      .control-buttons{
          .combo-visible{
            button{
              width: 50px;
            }
          }
      }
    }
      .slider-controls:hover{
        opacity: 1;
        border: 2px solid $highlights;
      }
      .main-player-cards{
        width: 760px;
      }

  }

  .game{
    width: 940px;
    .game-info{
      height: 120px;
      width: 130px;
      .game-info-cat{
        img{
          height: 120px;
          width: 120px;
        }
      }
    }

    // .play-cards{
    //   width: 435px;
    // }
    .rebound-deck{
      width: 223px;
      height: 240px;
      transform: rotate(135deg) translate(-50%, -50%);
    }
  }
  .end-game-bg-active{
    .end-game{
      height: 300px;
      width: 400px;
      left: 300px;

      h2{
        font-size: 30px;
      }
      .end-game-buttons{
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        button{
          width: 260px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .main-player{
    height: 285px;
    width: 768px;
    margin: 70px 0 0 0;
    .activePlayer,
    .player{
      width: 140px;
    }
    .main-player-container{
      width: 145px;
      flex-shrink: 0;
      .control-buttons{
          .combo-visible{
            flex-direction: column;
            button{
              height: 40px;
            }
          }
      }
    }
      .slider-controls:hover{
        opacity: 1;
        border: 2px solid $highlights;
      }
      .main-player-cards{
        width: 570px;
      }

  }


  .game{
    width: 760px;
    .game-info{
      height: 120px;
      width: 130px;
      .game-info-cat{
        img{
          height: 120px;
          width: 120px;
        }
      }
    }

    // .play-cards{
    //   width: 280px;
    //   height: 440px;
    // }
    .rebound-deck{
      width: 223px;
      height: 240px;
      transform: rotate(135deg) translate(-30%, -40%);
    }
  }
  .end-game-bg-active{
    .end-game {
      height: 250px;
      width: 300px;
      left: 240px;
      h2{
        font-size: 20px;
      }
      .end-game-buttons{
        button{
          width: 200px;
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .desk{
    width: 576px;
  }
    // .player{
    //   width: 80px;
    //   height: 120px;
    //   border-radius: 45px 45px 10px 10px;
    //   flex-direction: column-reverse;
    //   p{
    //     line-height: 1.2;
    //   }
    // }
    .main-player{
      width: 576px;
      .player{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        height: 80px;
        width: 135px;
        background-color: #fff;
        border-radius: 45px 10px 10px 45px;
        border: 3px solid $main-red;
      }
      .activePlayer{
        height: 85px;
        width: 140px;
        border-radius: 45px 11px 11px 45px;
      }

    .main-player-container{
      width: 145px;
      flex-shrink: 0;
      .control-buttons{
        .combo-visible{
          flex-direction: column;
        }
      }
    }

      .slider-controls:hover{
        opacity: 1;
        border: 2px solid $highlights;
      }
      .main-player-cards{
        width: 570px;
      }

  }
  .game{
    .game-info{
      height: 120px;
      width: 130px;
      .game-info-cat{
        img{
          height: 120px;
          width: 120px;
        }
      }
    }
    .rebound-deck{
      width: 223px;
      height: 240px;
      transform: rotate(135deg) translate(-30%, -40%);
    }
  }
  .end-game-bg-active{
    background-image: url(../assets/bg/bg1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    .end-game {
      left: 138px;
    }
  }
}
@media (max-width: 576px) {
  .desk{
    width: 420px;
  }
    .main-player{
      width: 420px;
      // .player{
      //   display: flex;
      //   flex-direction: row-reverse;
      //   justify-content: flex-end;
      //   height: 80px;
      //   width: 135px;
      //   background-color: #fff;
      //   border-radius: 45px 10px 10px 45px;
      //   border: 3px solid $main-red;
      // }
      // .activePlayer{
      //   height: 85px;
      //   width: 140px;
      //   border-radius: 45px 11px 11px 45px;
      // }

    // .main-player-container{
    //   width: 145px;
    //   flex-shrink: 0;
    //   .control-buttons{
    //     .combo-visible{
    //       flex-direction: column;
    //     }
    //   }
    // }

      // .slider-controls:hover{
      //   opacity: 1;
      //   border: 2px solid $highlights;
      // }
      // .main-player-cards{
      //   width: 570px;
      // }

  }
  .game{
    width: 410px;
    justify-content: flex-start;
    .game-info{
      height: 120px;
      width: 110px;
      .game-info-cat{
        img{
          height: 100px;
          width: 100px;
        }
      }
      .game-info-messages{
        width: 100px;
      }
    }
    .play-cards{
      position: absolute;
      right: 10px;
    }
    .rebound-deck{
      width: 223px;
      height: 240px;
      transform: rotate(135deg) translate(-50%, -50%);
    }
  }
  .end-game-bg-active{
    .end-game {
      left: 60px;
    }
  }
}