$main-red: #75210c;
$highlights: #fbff12;
$text-color: #fff;

@mixin cardsSize{
  height: 240px;
  width: 160px;
  border-radius: 5px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  width: 1280px;
  height: auto;
  margin: 0 auto;
  background-color: $main-red;
}

.desk{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-image: url(./assets/desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.other-players,
.main-player{
  display: flex;
  justify-content: space-between;
  height: 150px;
  flex-shrink: 0;
}
.game{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  height: 240px;

  .game-info{
    height: 120px;
    width: 180px;
    .game-info-cat{
      img{
        display: inline-block;
        height: 160px;
        width: 160px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
    .game-info-messages{
      background-color: $text-color;
      height: 80px;
      width: 120px;
      border-radius: 20px;
      position: relative;
      text-align: center;
    }
    .game-info-messages:before{
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 10px;
      top: -25px;
      border: 15px solid;
      border-color: transparent $text-color $text-color transparent;
    }
    .game-info-timer{
      background-color: $text-color;
      border-radius: 10px;
      width: 30px;
    }
  }

  .deck,
  .play-cards,
  .rebound-deck{
    cursor: pointer;
    img{
      @include cardsSize;
      border-radius: 5px;
    }
  }
  .play-cards-place{
    @include cardsSize;
    border: 1px dashed $text-color;
  }
  .rebound-deck{
    @include cardsSize;
    transform: rotate(45deg) translateX(10%) translateY(-50%);
    transition: all 0.5s ease-in-out 0;
    .rebound-deck-controls{
      display: none;
    }
    &-active{
      display: flex;
      align-items: center;
      img{
        @include cardsSize;
      }
      transform: rotate(0) translateX(0) translateY(0);
      .rebound-deck-controls{
        display: flex;
        height: 40px;
        font-size: 30px;
        color: $highlights;
        border: 1px solid $highlights;
        border-radius: 5px;
        background: transparent;
      }
    }
  }
}
.player{
  height: 150px;
  width: 150px;

  img{
    background-color: green;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: inline-block;
  }
}

.main-player{
  .control-buttons{
    display: flex;
    flex-direction: column;
  }

  .main-player-cards{
    display: flex;
    flex-direction: row-reverse;
    // flex-wrap: wrap;
    img{
      width: 120px;
      margin: 5px;
      border-radius: 5px;
      transition: all 0.5s ease-in-out 0s;
      border: none;
      outline: none;
      box-sizing: border-box;
      cursor: pointer;
    }
    .scaleCard:hover{
      transform: scale(2) translateY(-80px);
      border: 2px solid $highlights;
      box-shadow: 0 0 10px $highlights;
    }
  }

}
.activePlayer{
  border: 2px solid $highlights;
}
